/* Contenedor */
.content {
    background-color: #000000;
    padding: 20px;
    margin: 0 auto;
    max-width: 100%;
    border: 3px solid #ff5733;
    border-radius: 10px;
  }
  
  .content h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  /* Animación */
  @keyframes border-color {
    0% {
      border-color: #593baa;
    }
    25% {
      border-color: #ff3c51;
    }
    50% {
      border-color: #4739aa;
    }
    75% {
      border-color: #ffe066;
    }
    100% {
      border-color: #593baa;
    }
  }
  
  .content {
    animation-name: border-color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  